body {
	font: 14px/1.35em Arial, Helvetica, sans-serif;
  margin: auto 100px;
  background-color: #FFF9FC;
  border-color: #FFF9FC;
}



#about_us {
  top: -2343px;
}

.row {
  padding: 20px;
}

/*.nav_row {
  padding-bottom: -15px;
}
*/

/*nav bar*/

.menu {
  top: 0;
/*  height: 60px;
*/}

.contain-to-grid {
/*  background: white;
*/}

#up_arrow {
  position: fixed;
/*  float: right;
*/  right: 100px;
}

background: {
  color:red;
}

h6 {
  font-weight: bold;
}

/*images*/
img.img-siz {
  padding: 5px;
}

