body {
	font: 14px/1.35em Arial, Helvetica, sans-serif;
  margin: 60px auto 0;
  background: #FFF9FC;
}

#about_us {
  top: -2343px;
}

.row {
  padding: 20px;
}



/*nav bar*/

.fixed {
  top: 0;
  height: 60px;
}

.contain-to-grid {
  background: white;
}

background: {
  color:red;
}

h6 {
  font-weight: bold;
}

/*images*/
img.img-siz {
  padding: 5px;
}

