{% extends "base.html" %}
{% block content %}
<!-- First Band (Image) -->
<br>
<div class="row">
  <div class="small-12 columns">
    <img class="img-siz" src={{STATIC_URL}}/img/lincolnpark.jpg>
    <br> <br>
        <h4>The Couple</h4>
        <p>
    Legend says that Kendra and Neilson met in kindergarden. Apparently Kendra laughed at Neilson when he got sent to time-out for saying "butt". Kendra doesn't remember this, she was too busy drawing on herself with markers. Fast forward to high school: Neilson swore less and Kendra decided to switch to drawing with pens. They met in English class junior year, and Kendra was attracted to Neilson's puns and silly songs. Neilson was drawn to Kendra's sweet demeanor and her good looks. Their flirtation caused them to get in trouble in history class, but culminated in prom, dates, graduation, moving to another city, and developing a deep sense of companionship, trust, and love.
    <div></div></p>
  </div>
  <div class="small-12 columns">
    <h4>The Proposal</h4>
    <p>It happened on April 28th, 2013.</p>
  </div>
</div>

<div class="row">
  <div class="small-3 columns">
    <img src={{STATIC_URL}}/img/36.jpg>
  </div>
  <div class="small-3 columns">
    <h4>Neilson</h4>
    <p>um dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehensmod commodo, chuck duis velit. Aute </p>
  </div>
  <div class="small-3 columns">
    <img src={{STATIC_URL}}/img/39.jpg>
  </div>
  <div class="small-3 columns">
    <h4>Kendra</h4>
    <p>um dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute </p>
  </div>
</div>

{% endblock %}
