{% extends "base.html" %}
{% block content %}
<!-- First Band (Image) -->

<div class="row">
  <h3>Frequently Asked Questions</h3>

  <p id="faq">
  <h6>When is it? Where is it?</h6>

  All logistical info can be found <a href={{ROOT_URL}}/location.html>here</a>.
  Please be prompt if you will be attending!

  <h6>Who's getting married?</h6>
  <a href={{ROOT_URL}}/about_us.html>Kendra and Neilson</a>

  <strong><h6>Why are you getting married?</h6></strong>
  Because we've been madly in love for almost a decade.

  <h6>Can I see the ring?</h6>
  <a href={{ROOT_URL}}/ring.html>Absolutely!</a>

  <h6>I didn't get an invitation, am I invited or can I bring a plus one?</h6>
  Due to a small venue and large families, we're restricted to a tight guest list and had to make our wedding by invitation only. But we are human and make mistakes, and if you think we've missed you, let us know.

  <h6>Help! What do I wear?</h6>
  Semi-formal attire would be great. Dancing shoes too. It should be noted that there is green grass and bark chips in certain areas of the venue.

  <h6>What kind of food will be served?</h6>
  A buffet style dinner will be served. Don't worry, we'll accommodate any allergies. Just contact us.

  <h6>How do I contact you for more questions?</h6>
  By email at nk2014wedding@gmail.com or by phone and text at (503) 208-5619.


  <h6>Will there be dancing?</h6>
  Lots and lots.


  </p>

</div>


{% endblock %}
