{% extends "base.html" %}
{% block content %}
<!-- First Band (Image) -->

<div class="row">
  <div class="small-4 columns">
    <h4>When</h4>
    <P>August 23, 2014 at <strong>5pm.</strong> <br>

    </P>
  </div>
  <div class="small-4 columns">
    <h4>Where</h4>
    <p>McMenamins Cornelius Pass Roadhouse <br>
     4045 NW Cornelius Pass Rd. <br>
     Hillsboro, OR 97124</p>
  </div>
  <div class="small-4 columns">
    <h4>What</h4>
    <P>
The wedding ceremony will be held at the Wedding Grove, followed by a reception at the Octagonal Barn.</P>
  </div>
</div>


{% endblock %}
