{% extends "base.html" %}
{% block content %}
<!-- First Band (Image) -->

<div class="row">
  <div class="small-6 columns">
    <h6>Engagement Photos</h6>
    <ul class="clearing-thumbs clearing-feature" data-clearing id='photoset1'>
     <li class="clearing-featured-img"><a class="th" href="/static/img/10.jpg"><img src="/static/img/10.jpg"></a></li>
    </ul>
  </div>

  <div class="small-6 columns">
    <h6>1995-Current</h6>
    <ul class="clearing-thumbs clearing-feature" data-clearing id='photoset2'>
     <li class="clearing-featured-img"><a class="th" href="/static/img/years/10.jpg"><img src="/static/img/years/10_cover.jpg"></a></li>
    </ul>
  </div>
</div>

{% endblock %}
