{% extends "base.html" %}
{% block content %}
<!-- First Band (Image) -->

<div class="row">
  <div class="small-4 columns">
    <h6>Engagement Photos</h6>
    <ul class="clearing-thumbs clearing-feature" data-clearing id='loadimg'>
     <li class="clearing-featured-img"><a class="th" href="/static/img/10.jpg"><img src="/static/img/10.jpg"></a></li>
    </ul>
  </div>
</div>

<!--
<ul class="clearing-thumbs clearing-feature" data-clearing>
  <li><a href="path/to/your/img"><img src="path/to/your/img-th"></a></li>
  <li class="clearing-featured-img"><a href="path/to/your/img"><img src="path/to/your/img-th"></a></li>
  <li><a href="path/to/your/img"><img src="path/to/your/img-th"></a></li>
</ul> -->

{% endblock %}
