{% extends "base.html" %}
{% block content %}

<!-- First Band (Image) -->
<br>
<br>
<div data-alert data-options="animation_speed:2000;" class="alert-box info radius">
  <p>
    <span>Thank you:</span><br>
    To our wedding team, and our immediate and extended family. It wouldn't be possible for the little things you are helping us with. We love you all.
  </p>

  <a href="#" class="close">&times;</a>
</div>
<div class="row">

  <div class="small-4 columns" class="img-wed-party">
    <a href="#">
      <img src={{STATIC_URL}}/img/friends/linds3.jpg  onmouseover="this.src='/static/img/friends/linds2.jpg'" onmouseout="this.src='/static/img/friends/linds3.jpg'">
    </a>
      <p>Lindsey<br>
        Co-Maid of Honor<br>
        The <a href="http://en.wikipedia.org/wiki/Ted_Mosby">Ted Mosby</a> of Kendra and Neilson's relationship.<br>
        </p>
  </div>
  <div class="small-4 columns" class="img-wed-party">
    <a href="#">
      <img src={{STATIC_URL}}/img/friends/stel3.jpg onmouseover="this.src='/static/img/friends/stel4.jpg'" onmouseout="this.src='/static/img/friends/stel3.jpg'">
    </a>
      <p>
        Stella<br>
        Co-Maid of Honor<br>
        Library hermit determined to save the world.
      </p>

  </div>
  <div class="small-4 columns" class="img-wed-party">
    <a href="#">
      <img src={{STATIC_URL}}/img/friends/danica3.jpg onmouseover="this.src='/static/img/friends/danica4.jpg'" onmouseout="this.src='/static/img/friends/danica3.jpg'">
    </a>
      <p>
        Danica<br>
        Bridesmaid<br>
        The best monster fighter a sister could ask for.
      </p>

  </div>
</div>

<div class="row">
  <div class="small-4 columns" class="img-wed-party">
    <a href="#"></a>
      <img src={{STATIC_URL}}/img/friends/alison3.jpg onmouseover="this.src='/static/img/friends/alison4.jpg'" onmouseout="this.src='/static/img/friends/alison3.jpg'">
    </a>
      <p>
        Alison<br>
        Bridesmaid<br>
        Responsible for Kendra's addiction to ridiculous teen dramas.
      </p>

  </div>
  <div class="small-4 columns" class="img-wed-party">
    <a href="#">
      <img src={{STATIC_URL}}/img/friends/henry3.jpg onmouseover="this.src='/static/img/friends/henry2.jpg'" onmouseout="this.src='/static/img/friends/henry3.jpg'">
    </a>
      <p>
        H.J.<br>
        Best Man<br>
        College football analyst with penchant for pizza.
      </p>
  </div>
  <div class="small-4 columns" class="img-wed-party">
    <a href="#">
      <img src={{STATIC_URL}}/img/friends/dylan4.jpg onmouseover="this.src='/static/img/friends/dylan3.jpg'" onmouseout="this.src='/static/img/friends/dylan4.jpg'">
    </a>
      <p>
        Dylan<br>
        Groomsman<br>
        Coffee and camera lens knowledge is transcendent.
      </p>

  </div>
</div>

<div class="row">
  <div class="small-4 columns" class="img-wed-party">
    <a href="#">
      <img src={{STATIC_URL}}/img/friends/michael3.jpg onmouseover="this.src='/static/img/friends/michael2.jpg'" onmouseout="this.src='/static/img/friends/michael3.jpg'">
    </a>
      <p>
        Michael<br>
        Groomsman<br>
        Monkey whisperer who would climb with them to the Himalayas.
      </p>

  </div>
  <div class="small-4 columns" class="img-wed-party">
    <a href="#">
      <img src={{STATIC_URL}}/img/friends/jordan5.jpg onmouseover="this.src='/static/img/friends/jordan2.jpg'" onmouseout="this.src='/static/img/friends/jordan5.jpg'">
    </a>
      <p>
        Jordan<br>
        Groomsman<br>
        Portland Timbers evangelist who is saving lives, and surfing tides.
      </p>

  </div>
  <div class="small-4 columns" class="img-wed-party">
    <a href="#">
      <img src={{STATIC_URL}}/img/friends/janey3.jpg onmouseover="this.src='/static/img/friends/janey4.jpg'" onmouseout="this.src='/static/img/friends/janey3.jpg'">
      <p>
    </a>
        Janey<br>
        Usher<br>
        Can outcook Bobby Flay, and adorably laugh while she does it.
      </p>

  </div>


</div>

</div>

<div class="row">
  <div class="small-4 columns" class="img-wed-party">
    <a href="#">
      <img src={{STATIC_URL}}/img/friends/amanda3.jpg onmouseover="this.src='/static/img/friends/amanda2.jpg'" onmouseout="this.src='/static/img/friends/amanda3.jpg'">
      </a>
      <p>
        Amanda<br>
        Usher<br>
        Proponent of the three R's: Reduce, Reuse, and Rhythm.
      </p>
  </div>
  <div class="small-4 columns" class="img-wed-party">
    <a href="#">
      <img src={{STATIC_URL}}/img/friends/james3.jpg onmouseover="this.src='/static/img/friends/james4.jpg'" onmouseout="this.src='/static/img/friends/james3.jpg'">
    </a>
      <p>
        James<br>
        Usher<br>
        Can change diapers and shoot paintballs with ease.
      </p>


  </div>
  <div class="small-4 columns" class="img-wed-party">
    <a href="#">
      <img src={{STATIC_URL}}/img/friends/kam3.jpg >
    </a>
      <p>
        Kameron<br>
        Usher<br>
        Resident expert on everything. Card shark.
      </p>


  </div>
</div>

<div class="row">
  <div class="small-8 columns" class="img-wed-party">
    <a href="#">
      <img src={{STATIC_URL}}/img/friends/sophia3.jpg onmouseover="this.src='/static/img/friends/sophia2.jpg'" onmouseout="this.src='/static/img/friends/sophia3.jpg'">
    </a>
      <p>
        Sophia<br>
        Flower Girl<br>
        Throws food, cries, and makes you smile.
      </p>

  </div>

</div>

{% endblock %}
