<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>N + K</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}/css/foundation.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/foundation.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <script src="{{ STATIC_URL }}/js/vendor/modernizr.js"></script>
  </head>
  <body>

     <!-- Header and Nav -->

    <div class="row">
      <div class="small-4 columns">
        <a href="/"><h1>N <i class="fa fa-heart-o fa-1x"></i> K </h1></a>
      </div>
      <div class="small-8 columns">
        <ul class="button-group right">
          <li><a href={{ROOT_URL}}/about_us.html class="button">The Couple</a></li>
          <li><a href={{ROOT_URL}}/location.html class="button">The Wedding Day</a></li>
          <li><a href={{ROOT_URL}}/faq.html  class="button">FAQ</a></li>
          <li><a href={{ROOT_URL}}/photos.html  class="button">Photos</a></li>
        </ul>
      </div>
    </div>

    <!-- End Header and Nav -->


      {% block content %}
    Main content
    {% endblock %}

    <!-- Footer -->

    <footer class="row">
      <div class="small-12 columns">
        <hr />
        <div class="row">
          <div class="small-6 columns">
            <p>© Copyright no one at all. Go to town.</p>
          </div>
          <div class="small-6 columns">
          </div>
        </div>
      </div>
    </footer>


    <script src="{{ STATIC_URL }}/js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}/js/foundation.min.js"></script>
    <script src="{{ STATIC_URL }}/js/foundation/foundation.clearing.js"></script>
    <script src="{{ STATIC_URL }}/js/main.js"></script>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
